@import "site/settings";
@import "watercolor/modules/grid";

//
// Header
//

#header {
	box-sizing: border-box;
	min-height: 100vh;
	position: relative;

	.logo {
		animation-name: header-logo-intro;
		animation-iteration-count: 1;
		animation-timing-function: ease-out;
		animation-duration: .6s;
	}

	#scroller {
		position: absolute;
		bottom: 6em;
		left: 50%;
		z-index: 2;

		span {
			position: absolute;
			top: 0;
			left: 50%;
			width: 46px;
			height: 46px;
			margin-left: -23px;
			box-sizing: border-box;

			&::after {
				position: absolute;
				top: 50%;
				left: 50%;
				content: '';
				width: 16px;
				height: 16px;
				margin: -12px 0 0 -8px;
				border-left: 2px solid #fff;
				border-bottom: 2px solid #fff;
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
				box-sizing: border-box;
			}

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				content: '';
				width: 46px;
				height: 46px;
				background-color: rgba(255,255,255,.1);
				box-shadow: 0 0 0 0 rgba(255,255,255,.1);
				border-radius: 100%;
				opacity: 0;
				animation: header-scroll-indicator 2s infinite;
				box-sizing: border-box;
			}
		}
	}
}

//
// Mission
//

#mission {
	background-color: #f8fafc;
}


//
// Challenges
//

#challenges {
	display: flex;
	flex-wrap: wrap;
	min-height: 0;
	padding: 0 !important;

	article {
		position: relative;
		box-sizing: border-box;
		margin: 0 auto;
		padding-top: 3.25em;
		padding-bottom: 3.25em;
		padding-right: $gutter-width;
		padding-left: $gutter-width;
		padding-bottom: 7.5em;
		text-align: justify;
		transition: all .15s ease-in-out;

		&:nth-of-type(3n+1) {
			background-color: #f6f4f7;
		}

		&:nth-of-type(3n+2) {
			background-color: #fcfafd;
		}

		&:nth-of-type(3n+3) {
			background-color: #f2f0f3;
		}

		a {
			color: inherit;
		}

		h3 {
			font-size: 1em;
			text-align: left;
		}

		h3 ~ p {
			margin-top: 0;
		}

		.button {
			position: absolute;
			bottom: 3.25em;
			left: $gutter-width;
			right: $gutter-width;
			display: block;
			margin: 0 auto;
			text-align: center;
			border-radius: 0;
			font-family: $header-font-family;
			font-size: .825em;
			transition: all .15s ease-in-out;

			&:hover {
				box-shadow: 0 0.25em 2em rgba(0,0,0,.25);
				transform: scale(1.05);
			}
		}

		@include breakpoint(medium) {
			width: 50%;
			padding: 1em 2em;
			padding-bottom: 6em;

			.button {
				bottom: 2em;
				left: 2em;
				right: 2em;
			}
		}

		@include breakpoint(large) {

			h3 {
				font-size: 1.25em;
			}
		}

		@include breakpoint(extra-large) {
			width: 25%;
			padding: .5em 1.5em;
			padding-bottom: 6em;

			.button {
				bottom: 1.5em;
				left: 1.5em;
				right: 1.5em;
			}
		}
	}
}

//
// Consoles
//

#consoles {
	padding-bottom: 0 !important;
	background-color: #282a2c;
	color: #fff;


	ul {
		list-style: none;
		margin: 0;
		margin-top: 5em;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
	}

	ul::after {
		content: '';
		flex-grow: 1000000000;
	}

	li {
		position: relative;
		width: 50%;
		flex-grow: 1;

		transition: all 0.15s ease-in-out;

		@include breakpoint(small) {
			width: 33.3333%;
		}

		@include breakpoint(medium) {
			width: 25%;
        }

		@include breakpoint(large) {
			width: 20%;
        }

		@include breakpoint(extra-large) {
			width: 16.6666%;
		}

		&:hover {
			box-shadow: 0 0 40px rgba(0,0,0,0.25);
			z-index: 999;
			transform: scale(1.05);
		}
	}

	a {
		position: relative;
		display: block;
		margin: 0;
		text-align: left;
		color: white;

		&::after {
			content: attr(title);
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding-left: 1em;
			font-style: normal;

			margin: .75em 0 .5em 0;
			font-weight: 400;
			font-size: .65em;
			font-family: $header-font-family;
		}

		img {
			display: block;
		}
	}
}

//
// Thanks
//

#thanks {
	background-color: #f8fafc;

	section {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: $line-height * 1em 0;
	}

	ul {
		list-style: none;
		margin: 0 auto;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@include breakpoint(large) {
			width: 42rem;
		}

		li {
			box-sizing: border-box;
			display: flex;
			position: relative;
			width: 15%;
			flex: 1;
			transition: all 0.15s ease-in-out;
			text-align: left;

			img {
				width: 100%;
				border-radius: 50%;
				box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
			}

			a {
				position: relative;
				margin: 1em;
				width: 100%;

				&::after {
					display: none;
				}
			}

			&:hover {

				a::after {
					content: attr(title);
					box-sizing: border-box;
					display: block;
					position: absolute;
					width: 100%;
					bottom: 100%;
					left: 0;
					font-size: .75em;
					background-color: rgba(0,0,0,0.8);
					color: #fff;
					padding: .75em;
					box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
					text-align: center;
				}

				a::before{
					content: " ";
					position: absolute;
					bottom: calc(100% - .75em);
					left: 50%;
					margin-left: -.75em;
					z-index: 99;
					border-style: solid;
					border-color: rgba(0,0,0,0.8) transparent;
					border-width: .75em .75em 0 .75em;
				}
			}
		}
	}
}

//
// Animations
//

@keyframes header-logo-intro {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes header-scroll-indicator {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 20px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
