<section id="footer-social">

	<a class="social twitter" href="https://twitter.com/avalonbuild" title="Follow Avalon on Twitter">Follow Avalon on Twitter</a>
	<a class="social facebook" href="https://www.facebook.com/AvalonDesignBuild/" title="Follow Avalon on Facebook">Follow Avalon on Facebook</a>
	<a class="social instagram" href="https://www.instagram.com/avalonconstructiondesign" title="Follow Avalon on Instagram">Follow Avalon on Instagram</a>
	<a class="social houzz" href="http://www.houzz.com/user/johnelias" title="Follow Avalon on Houzz">Follow Avalon on Houzz</a>

</section>

<section id="footer-contact">

	<address>
			231 West Main Street<br>
			Barrington, IL 60010<br>
			Office: <a href="tel:847-836-8036">847-836-8036</a>
	</address>

	<address>
			John Elias - President<br>
			Mobile: <a href="tel:847-514-6557">847-514-6557</a><br>
			<a href="mailto:john@avalonbuild.com">john@avalonbuild.com</a>
	</address>

</section>