<section id="footer-social">

	<a class="social twitter" href="https://twitter.com/gamingsuperpower" title="Follow Gaming Superpower on Twitter">Follow Gaming Superpower on Twitter</a>
	<a class="social facebook" href="https://facebook.com/gamingsuperpower/" title="Follow Gaming Superpower on Facebook">Follow Gaming Superpower on Facebook</a>
	<a class="social instagram" href="https://instagram.com/gamingsuperpower" title="Follow Gaming Superpower on Instagram">Follow Gaming Superpower on Instagram</a>

</section>