<ul>

	<li><a href="/">Home</a></li>
	<li><a href="/choosing-a-display">Choosing A Display</a></li>
	<li><a href="/connectivity">Connectivity</a></li>
	<li><a href="/upscalers">Upscalers</a></li>
	<li><a href="/switches">Switches</a></li>

</ul>