@page
@model MarkdownPageModel

@{
    ViewBag.Title = "";
    ViewBag.Description = "";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/choosing-a-display.css")">
}

@section Scripts {

}

@if (Model.SectionExists("intro"))
{
<section id="intro">

    @Model.GetSection("intro")

</section>
}

@if (Model.SectionExists("summary"))
{
<section id="summary">

    @Model.GetSection("summary")

</section>
}