@page
@{
    ViewBag.Title = "Upscalers";
    ViewBag.Description = "Upscalers";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/index.css")">
}

<section id="upscalers">

	<div class="container">

		<div class="intro">

			<header>

				<h2>Choosing A Display</h2>

			</header>

			<p>

				Upscalers are a near-critical component of a modern retro gaming setup due to poor scaling on TV resolutions used by retro consoles.
				The two major options, the Open Source Scan Convertor (OSSC) and the XRGB-mini Framemeister, have tradeoffs depending on your setup, but we'll do our best to steer you in the right direction.

			</p>

		</div>

		<ul class="cards">

			<li>

				<figure id="ossc">
					<img src="~/images/devices/ossc-1.5a.jpg" alt="OSSC">
					<figcaption>
						<h3>OSSC</h3>
						<p>The Open Source Scan Converter (OSSC) provides a zero-lag solution, but has compromises on compatibility.</p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure id="xrgb-mini">
					<img src="~/images/devices/xrgb-mini_z01.jpg" alt="XRGB Mini Framemeister">
					<figcaption>
						<h3>Framemeister</h3>
						<p>The XRGB Mini Framemeister is a more feature packed device with better compatibility, but at the cost of additional lag.</p>
					</figcaption>
				</figure>

			</li>

		</ul>

	</div>

</section>