@page
@model MarkdownPageModel

@{
    ViewBag.Title = "Connectivity";
    ViewBag.Description = "Connectivity";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/connectivity.css")">
}

@section Scripts {

}

@if (Model.SectionExists("intro"))
{
<section id="intro">

    @Model.GetSection("intro")

</section>
}

@if (Model.SectionExists("summary"))
{
<section id="summary">

    @Model.GetSection("summary")

</section>
}