@page "{id}/{rev?}"
@model ConsoleModel

@{
    ViewBag.Title = "";
    ViewBag.Description = "";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/console.css")">
}

@section Scripts {

}

@if (Model.SectionExists("intro"))
{
<section id="intro">

	<div class="container">

        @Model.GetSection("intro")

	</div>

</section>
}

@if (Model.revision == null && Model.SectionExists("revisions"))
{
<section id="revisions">

	<div class="container">

        @Model.GetSection("revisions")

	</div>

</section>
}

@if (Model.SectionExists("summary"))
{
<section id="summary">

	<div class="container">

        @Model.GetSection("summary")

	</div>

</section>
}