@page
@model IndexModel
@{
    //ViewData["Title"] = "Home Page";
    ViewBag.Title = "";
    ViewBag.Description = "";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/index.css")">
}

@section Scripts {
    <script src="~/js/pages/index.js"></script>
}

@section Header {

	<a class="logo" href="/"></a>
	<h6 style="margin-top: -8em; text-shadow: 0px 4px black;">Retro and modern gaming on modern displays</h6>

	<a id="scroller" href="#mission"><span></span></a>

}

<section id="mission">

	<div class="container">

		<div class="intro">

			<header>

				<h2>Gaming Superpower</h2>

			</header>

			<p>
			Gaming on modern TV's has a lot of benefits, but there can be a lot of challenges to do so, especially with older consoles.  This website will try to help make gaming on
			modern displays easier, look better, and perform better - whether you are using a modern console or your childhood favorite retro console.
			</p>

			<p>
			There are a number of great resources on the web for modern and retro gaming, but it can take a lot of research to find out the best way to hook up an number of consoles,
			or how to make each look as good as possible.  We'll do our best to distill that information and give suggestions to provide the best experience for each, while referring
			to source material if you really want to get your hands dirty in the technical details.
			</p>

		</div>

	</div>

</section>

<style>

	#foo {
		display: flex;
		flex-wrap: wrap;
		min-height: 0;
		padding: 0 !important;
	}

	#foo article {
		box-sizing: border-box;
		width: 50%;
		padding: 4em 3em;
		text-align: left;
		transition: all .15s ease-in-out;
	}

	#foo article:hover {
		box-shadow: 0 0 40px rgba(0,0,0,.25);
		z-index: 999;
		transform: scale(1.05);
	}

	#foo article:nth-of-type(3n+1) {
		background-color: #f6f4f7;
	}

	#foo article:nth-of-type(3n+2) {
		background-color: #fcfafd;
	}

	#foo article:nth-of-type(3n+3) {
		background-color: #f2f0f3;
	}

	#foo article a {
		color: inherit;
	}

	#foo article h3 {
		font-size: 1.25em;
	}

	#foo article h3 ~ p {
		margin-top: 0;
	}

</style>

<section id="foo">

	<article>
		<a href="/choosing-a-display">
			<img src="~/images/challenges/input-lag.jpg" alt="Choosing a Display">
			<h3>Choosing a Display</h3>
			<p>Choosing a display is one of the most important things to getting a great gaming experience for modern and retro games. We'll give you info on what to look for, and resources to make an informed choice in this critical decision.</p>
		</a>
	</article>

	<article>
		<a href="/connectivity">
			<img src="~/images/challenges/connectivity.jpg" alt="Connectivity">
			<h3>Connectivity</h3>
			<p>Retro game consoles support a number of connectivity options that modern displays generally don't have inputs for. We'll give you the basics on each connection type and how they can integrate into your gaming setup.</p>
		</a>
	</article>

	<article>
		<a href="/upscalers">
			<img src="~/images/challenges/upscaling-zelda.jpg" alt="Upscalers">
			<h3>Upscalers</h3>
			<p>Retro gaming on modern displays will require an upscaler if you want your games to look their best. Modern displays generally upscale using methods that look great for movies, but provide a poor quality image for low resolution gaming sources.</p>
		</a>
	</article>

	<article>
		<a href="/switches">
			<img src="~/images/devices/gscartsw-3.4.jpg" alt="Switches">
			<h3>Switches</h3>
			<p>Once you have more than a few consoles you will quickly realize you need a way to switch between them without swapping cables. There are many types of switches, but the most common needs are for a SCART switches, component switches, and HDMI switches.</p>
		</a>
	</article>

</section>
<!--
<section id="challenges">

	<div class="container">

		<div class="intro">

			<header>

				<h2>Challenges</h2>

			</header>

			<p>
			Gaming on modern TV's is quite a bit different than gaming on older LCD TV's, and presents a different set of challenges.
			We'll do our best to focus on each of the challenges and how it impacts each device you may use in your setup to allow you to achieve an optimal experience for your setup.
			</p>

		</div>

		<ul class="cards">

			<li>

				<figure>
					<img src="~/images/challenges/upscaling-zelda.jpg" alt="Poor Upscaling">
					<figcaption>
						<h3>Poor Upscaling</h3>
						<p>Many modern TV's do a poor job upscaling retro games. The TV's are focused on video content scaling and do a poor job of scaling of 240p sources.</p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure>
					<img src="~/images/challenges/input-lag.jpg" alt="Input Lag">
					<figcaption>
						<h3>Input Lag</h3>
						<p>Modern TV's generally apply image processing to the input image that can cause lag. Some TV's do a better job than others or provide a game mode to reduce lag.</p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure>
					<img src="~/images/challenges/connectivity.jpg" alt="Connectivity">
					<figcaption>
						<h3>Connectivity</h3>
						<p>Most modern TV's only have HDMI ports, or potentially one or two older ports. If you plan to connect more than a few consoles you will run into issues, especially with retro consoles.</p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure>
					<img src="~/images/challenges/no-signal.jpg" alt="Compatibility">
					<figcaption>
						<h3>Compatibility</h3>
						<p>Many modern TV's simply aren't compatible with the signals produced by retro consoles. Finding either the right upscaler or TV can be a challenge.</p>
					</figcaption>
				</figure>

			</li>

		</ul>

		<a class="button" href="/challenges">Learn more about challenges</a>

	</div>

</section>
-->

<section id="consoles">

	<div class="container">

		<div class="intro">

			<header>

				<h2>Consoles</h2>

			</header>

			<p>
			We've tested quite a few consoles (more will be added over time) to provide recomendations for the best
			way to set up each for optimum picture quality. In most cases we've tested these directly, but in some cases
			we'll reference the testing of others, as we don't own every variant of each console.
			</p>

		</div>

	</div>

	<ul>

		<li>

			<a href="/console/nes">
				<figure style="background-color: #cb0015;">
					<img src="/images/consoles/small/NES-Console-Set.png">
					<figcaption>
						<h3>NES</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/snes">
				<figure style="background-color: #4f43ae;">
					<img src="/images/consoles/small/SNES-Mod1-Console-Set.png">
					<figcaption>
						<h3>SNES</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/n64">
				<figure style="background-color: #189d5d;">
					<img src="/images/consoles/small/N64-Console-Set.png">
					<figcaption>
						<h3>N64</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/nintendo-gamecube">
				<figure style="background-color: #645097;">
					<img src="/images/consoles/small/GameCube-Console-Set.png">
					<figcaption>
						<h3>GameCube</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/nintendo-wii">
				<figure style="background-color: #009ac7;">
					<img src="/images/consoles/small/Wii_console.png">
					<figcaption>
						<h3>Wii</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/nintendo-wii-u">
				<figure style="background-color: #8b8b8b;">
					<img src="/images/consoles/small/Wii_console.png">
					<figcaption>
						<h3>Wii U</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/nintendo-switch">
				<figure style="background-color: #414548;">
					<img src="/images/consoles/small/Nintendo-Switch-Console-Docked-wJoyConRB.png">
					<figcaption>
						<h3>Switch</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/sega-master-system">
				<figure style="background-color: #c82a2b;">
					<img src="/images/consoles/small/Sega-Master-System-Set.png">
					<figcaption>
						<h3>Master System</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/sega-genesis">
				<figure style="background-color: #222;">
					<img src="/images/consoles/small/Sega-Genesis-Mod1-Set.png">
					<figcaption>
						<h3>Genesis</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/sega-saturn">
				<figure style="background-color: #4E4D4C;">
					<img src="/images/consoles/small/Sega-Saturn-Console-Set-Mk1.png">
					<figcaption>
						<h3>Saturn</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/sega-dreamcast">
				<figure style="background-color: #e75949;">
					<img src="/images/consoles/small/Dreamcast-Console-Set.png">
					<figcaption>
						<h3>Dreamcast</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/microsoft-xbox">
				<figure style="background-color: #5dc21e;">
					<img src="/images/consoles/small/Xbox-Console-wDuke-L.png">
					<figcaption>
						<h3>Xbox</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/microsoft-xbox-360">
				<figure style="background-color: #475ac8;">
					<img src="/images/consoles/small/Microsoft-Xbox-360-Pro-Flat-wController-L.png">
					<figcaption>
						<h3>Xbox 360</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/microsoft-xbox-one">
				<figure style="background-color: #eb4c58;">
					<img src="/images/consoles/small/Xbox-One-Console-wController-FL.png">
					<figcaption>
						<h3>Xbox One</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/sony-playstation">
				<figure style="background-color: #bebebc;">
					<img src="/images/consoles/small/PSX-Console-wController.png">
					<figcaption>
						<h3>Playstation</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/sony-playstation-2">
				<figure style="background-color: #4381b1;">
					<img src="/images/consoles/small/PS2-Slim-Console-Set.png">
					<figcaption>
						<h3>Playstation 2</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/sony-playstation-3">
				<figure style="background-color: #3fb89e;">
					<img src="/images/consoles/small/Ps3-fat-console.png">
					<figcaption>
						<h3>Playstation 3</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/sony-playstation-4">
				<figure style="background-color: #222;">
					<img src="/images/consoles/small/Sony-PlayStation-4-wController.png">
					<figcaption>
						<h3>Playstation 4 </h3>
					</figcaption>
				</figure>
			</a>

		</li>

	</ul>

</section>

<section id="credits">

	<div class="intro">

		<header>

			<h2>Special Thanks</h2>

		</header>

		<p>
		Special thanks to the following people who are instrumental in the gaming and retro gaming community.
		The hard work of others has made much of this website possible, and hopefully this website will help
		others to have a better experience as well. The more we all contribute, the more we all benefit.
		</p>

	</div>

	<ul>

		<li>

			<figure>
				<img src="~/images/thanks/retrorgb.jpg" alt="RetroRGB">
				<figcaption>
					<h3>RetroRGB</h3>
					<p>The Godfather of RGB, the best source for all the nitty gritty details on RGB and retro consoles.</p>
				</figcaption>
			</figure>

		</li>

		<li>

			<figure>
				<img src="~/images/thanks/voultar.jpg" alt="Voultar">
				<figcaption>
					<h3>Voultar</h3>
					<p>It's that simple! Prepare your loins and learn to mod and solder like a champion.</p>
				</figcaption>
			</figure>

		</li>

		<li>

			<figure>
				<img src="~/images/thanks/hdretrovision.jpg" alt="HDRetrovision">
				<figcaption>
					<h3>HDRetrovision</h3>
					<p>Ste and Nick are RetroYPbPr. They build cables and champion EE best practices.</p>
				</figcaption>
			</figure>

		</li>

		<li>

			<figure>
				<img src="~/images/thanks/db_electronics.jpg" alt="db_electronics">
				<figcaption>
					<h3>db_electronics</h3>
					<p>A real scientist, powered by Blast Processing, prevents consoles from exploding.</p>
				</figcaption>
			</figure>

		</li>

	</ul>

</section>