@page
@model IndexModel
@{
    //ViewData["Title"] = "Home Page";
    ViewBag.Title = "";
    ViewBag.Description = "";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/index.css")">
}

@section Scripts {
    <script src="~/js/pages/index.js"></script>
}

@section Header {

	<a class="logo" href="/"></a>

	<a id="scroller" href="#mission"><span></span></a>

}

<section id="mission">

	<div class="container">

		<div class="grid">

			<div id="mission-text">

				<header>

					<h2>Gaming Superpower Mission</h2>

				</header>

				<p>
				Gaming on modern TV's has a lot of benefits, but there can be a lot of challenges to do so, especially with older consoles.  This website will try to help make gaming on
				modern displays easier, look better, and perform better - whether you are using a modern console or your childhood favorite retro console.
				</p>

				<p>
				There are a number of great resources on the web for modern and retro gaming, but it can take a lot of research to find out the best way to hook up an number of consoles,
				or how to make each look as good as possible.  We'll do our best to distill that information and give suggestions to provide the best experience for each, while referring
				to source material if you really want to get your hands dirty in the technical details.
				</p>

			</div>

		</div>

	</div>

</section>

<section id="challenges">

	<div class="container">

		<div class="grid">

			<div id="challenges-text">

				<header>

					<h2>Challenges</h2>

				</header>

				<p>
				Gaming on modern TV's has a lot of benefits, but there can be a lot of challenges to do so, especially with older consoles.  This website will try to help make gaming on
				modern displays easier, look better, and perform better - whether you are using a modern console or your childhood favorite retro console.
				</p>

			</div>

			<ul>

				<li>

					<figure>
						<!--<img src="http://via.placeholder.com/350x250/ff0000/ffffff?text=upscaling" alt="Poor Upscaling">-->
						<figcaption>
							<h3>Poor Upscaling</h3>
							<p>Many modern TV's do a poor job upscaling retro games. The TV's are focused on video content scaling and do a poor job of scaling of 240p sources.</p>
						</figcaption>
					</figure>

				</li>

				<li>

					<figure>
						<!--<img src="http://via.placeholder.com/350x250/00ff00/ffffff?text=lag" alt="Input Lag">-->
						<figcaption>
							<h3>Input Lag</h3>
							<p>Modern TV's generally apply image processing to the input image that can cause lag. Some TV's do a better job than others or provide a game mode to reduce lag.</p>
						</figcaption>
					</figure>

				</li>

				<li>

					<figure>
						<!--<img src="http://via.placeholder.com/350x250/0000ff/ffffff?text=connectivity" alt="Connectivity">-->
						<figcaption>
							<h3>Connectivity</h3>
							<p>Most modern TV's only have HDMI ports, or potentially one or two older ports. Connecting a number of retro consoles to modern TV's presents a number of issues.</p>
						</figcaption>
					</figure>

				</li>

				<li>

					<figure>
						<!--<img src="http://via.placeholder.com/350x250/ff00ff/ffffff?text=compatibility" alt="Compatibility">-->
						<figcaption>
							<h3>Compatibility</h3>
							<p>Many modern TV's simply aren't compatible with the signals produced by retro consoles. Finding either the right upscaler or TV can be a challenge.</p>
						</figcaption>
					</figure>

				</li>

			</ul>

		</div>

	</div>

</section>

<section id="upscalers">

	<div class="container">

		<div class="grid">

			<div id="upscaler-text">

				<header>

					<h2>Upscalers</h2>

				</header>

				<p>

					Upscalers are a near-critical component of a modern retro gaming setup due to poor scaling on TV resolutions used by retro consoles.
					The two major options, the Open Source Scan Convertor (OSSC) and the XRGB-mini Framemeister, have tradeoffs depending on your setup, but we'll do our best to steer you in the right direction.

				</p>

				<a class="button" href="/upscalers">Learn more about upscalers</a>

			</div>
<!--
			<figure id="ossc">
				<img src="~/images/devices/ossc.jpg" alt="OSSC">
				<figcaption>
					<h3>OSSC</h3>
					<p>The Open Source Scan Converter (OSSC) provides a zero-lag solution, but has compromises on compatibility.</p>
				</figcaption>
			</figure>

			<figure id="xrgb-mini">
				<img src="~/images/devices/xrgb-mini.jpg" alt="XRGB Mini Framemeister">
				<figcaption>
					<h3>Framemeister</h3>
					<p>The XRGB Mini Framemeister is a more feature packed device with better compatibility, but at the cost of additional lag.</p>
				</figcaption>
			</figure>
-->
		</div>

	</div>

</section>

<section id="switches">

	<div class="container">

		<div class="grid">

			<div id="switches-text">

				<header>

					<h2>Switches</h2>

				</header>

				<p>

					Once you have more than a few consoles you will quickly realize you need a way to switch between them without swapping cables.
					There are many types of switches, but the most common needs are for a SCART switch and a component switch.

				</p>

				<a class="button" href="/switches">Learn more about switches</a>

			</div>

		</div>

	</div>

	<img src="~/images/devices/gscartsw-gcompsw-original.png" alt="XRGB Mini Framemeister">

</section>
<!--
<section id="guides">

	<div class="container">

	</div>

</section>
-->
<section id="consoles">

	<div class="container">

		<div class="grid">

			<div id="consoles-text">

				<header>

					<h2>Consoles</h2>

				</header>

				<p>

					Once you have more than a few consoles you will quickly realize you need a way to switch between them without swapping cables.
					There are many types of switches, but the most common needs are for a SCART switch and a component switch.

				</p>

			</div>

		</div>

	</div>

	<ul>

		<li>

			<a href="/console/nes">
				<figure style="background-color: #cb0015;">
					<img src="/images/consoles/small/NES-Console-Set.png">
					<figcaption>
						<h3>Nintendo (NES)</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/snes">
				<figure style="background-color: #4f43ae;">
					<img src="/images/consoles/small/SNES-Mod1-Console-Set.png">
					<figcaption>
						<h3>Super Nintendo</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/n64">
				<figure style="background-color: #189d5d;">
					<img src="/images/consoles/small/N64-Console-Set.png">
					<figcaption>
						<h3>Nintendo 64</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/nintendo-gamecube">
				<figure style="background-color: #645097;">
					<img src="/images/consoles/small/GameCube-Console-Set.png">
					<figcaption>
						<h3>Nintendo GameCube</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/nintendo-wii">
				<figure style="background-color: #009ac7;">
					<img src="/images/consoles/small/Wii_console.png">
					<figcaption>
						<h3>Nintendo Wii</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/nintendo-wii-u">
				<figure style="background-color: #8b8b8b;">
					<img src="/images/consoles/small/Wii_console.png">
					<figcaption>
						<h3>Nintendo Wii U</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/nintendo-switch">
				<figure style="background-color: #414548;">
					<img src="/images/consoles/small/Nintendo-Switch-Console-Docked-wJoyConRB.png">
					<figcaption>
						<h3>Nintendo Switch</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/sega-master-system">
				<figure style="background-color: #c82a2b;">
					<img src="/images/consoles/small/Sega-Master-System-Set.png">
					<figcaption>
						<h3>Sega Master System</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/sega-genesis">
				<figure style="background-color: #222;">
					<img src="/images/consoles/small/Sega-Genesis-Mod1-Set.png">
					<figcaption>
						<h3>Sega Genesis</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/sega-saturn">
				<figure style="background-color: #4E4D4C;">
					<img src="/images/consoles/small/Sega-Saturn-Console-Set-Mk1.png">
					<figcaption>
						<h3>Sega Saturn</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/sega-dreamcast">
				<figure style="background-color: #e75949;">
					<img src="/images/consoles/small/Dreamcast-Console-Set.png">
					<figcaption>
						<h3>Sega Dreamcast</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/microsoft-xbox">
				<figure style="background-color: #5dc21e;">
					<img src="/images/consoles/small/Xbox-Console-wDuke-L.png">
					<figcaption>
						<h3>Microsoft Xbox</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/microsoft-xbox-360">
				<figure style="background-color: #475ac8;">
					<img src="/images/consoles/small/Microsoft-Xbox-360-Pro-Flat-wController-L.png">
					<figcaption>
						<h3>Microsoft Xbox 360</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/microsoft-xbox-one">
				<figure style="background-color: #eb4c58;">
					<img src="/images/consoles/small/Xbox-One-Console-wController-FL.png">
					<figcaption>
						<h3>Microsoft Xbox One</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/sony-playstation">
				<figure style="background-color: #bebebc;">
					<img src="/images/consoles/small/PSX-Console-wController.png">
					<figcaption>
						<h3>Sony Playstation</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/sony-playstation-2">
				<figure style="background-color: #4381b1;">
					<img src="/images/consoles/small/PS2-Slim-Console-Set.png">
					<figcaption>
						<h3>Sony Playstation 2</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/sony-playstation-3">
				<figure style="background-color: #3fb89e;">
					<img src="/images/consoles/small/Ps3-fat-console.png">
					<figcaption>
						<h3>Sony Playstation 3</h3>
					</figcaption>
				</figure>
			</a>

		</li>

		<li>

			<a href="/console/sony-playstation-4">
				<figure style="background-color: #222;">
					<img src="/images/consoles/small/Sony-PlayStation-4-wController.png">
					<figcaption>
						<h3>Sony Playstation4 </h3>
					</figcaption>
				</figure>
			</a>

		</li>

	</ul>

</section>