@page
@model IndexModel
@{
    //ViewData["Title"] = "Home Page";
    ViewBag.Title = "";
    ViewBag.Description = "";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/index.css")">
}

@section Scripts {
    <script src="~/js/pages/index.js"></script>
}

@section Header {

	<a class="logo" href="/"></a>

    <!--<p>
		Welcome and Thank You for visiting Avalon. Please take a look around and see why we are the leader in our industry. Whether it be a lavishly designed and exquisitely constructed home, a custom kitchen remodel, or a handcrafted heirloom furniture piece, we will exceed all your expectations! Please browse all of our services and contact us to schedule a no-pressure, informal meeting to discuss your project. We look forward to hearing from you!
	</p>-->

	<a id="scroller" href="#mission"><span></span></a>

}

<section id="mission">

	<div class="container">

		<div class="grid">

			<div id="mission-text">

				<header>

					<h2>Retro Superpower Mission</h2>

				</header>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget erat efficitur, auctor nulla eget, feugiat metus. Nunc dolor neque, porttitor non placerat sit amet, suscipit et sem. Nunc mollis scelerisque convallis. Etiam consequat ornare augue ut scelerisque. Ut magna leo, blandit sit amet mi in, hendrerit ultrices leo. Quisque vitae lectus vitae ligula porta malesuada. Vestibulum maximus magna nec neque sollicitudin egestas. Donec pellentesque mi laoreet, fringilla mauris sed, commodo purus. Integer tincidunt finibus tempus. Cras a lobortis augue. Curabitur malesuada in nisl at dignissim.
				</p>

				<p>
					Nulla facilisi. Fusce eleifend interdum sapien, in porttitor libero ultrices non. Nunc porttitor mi vel gravida lobortis. Cras et orci eget erat pulvinar eleifend at ut felis. Aenean mollis, turpis at tristique faucibus, odio nisi tincidunt purus, vel ultrices sem orci eget metus. Nulla mollis consectetur lorem a viverra. Praesent at luctus sem. Morbi interdum faucibus posuere.
				</p>

			</div>

		</div>

	</div>

</section>

<section id="challenges">

	<div class="container">

		<header>

			<h2>Challenges</h2>

		</header>

		<ul>

			<li>

				<figure>
					<img src="http://via.placeholder.com/350x250/ff0000/ffffff?text=upscaling" alt="Poor Upscaling">
					<figcaption>
						<h3>Poor Upscaling</h3>
						<p></p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure>
					<img src="http://via.placeholder.com/350x250/00ff00/ffffff?text=lag" alt="Input Lag">
					<figcaption>
						<h3>Input Lag</h3>
						<p></p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure>
					<img src="http://via.placeholder.com/350x250/0000ff/ffffff?text=connectivity" alt="Connectivity">
					<figcaption>
						<h3>Connectivity</h3>
						<p></p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure>
					<img src="http://via.placeholder.com/350x250/ff00ff/ffffff?text=compatibility" alt="Compatibility">
					<figcaption>
						<h3>Compatibility</h3>
						<p></p>
					</figcaption>
				</figure>

			</li>

		</ul>

	</div>

</section>

<section id="upscalers">

	<div class="container">

		<div class="grid">

			<div id="upscaler-text">

				<header>

					<h2>Upscalers</h2>

				</header>

				<p>

					Upscalers are a near-critical component of a modern retro gaming setup due to poor scaling on TV resolutions used by retro consoles.
					Unfortunately the two main competitors both have trade-offs so choosing a solution depends on a number of things.

				</p>

			</div>

			<figure id="ossc">
				<img src="~/images/devices/ossc.jpg" alt="OSSC">
				<figcaption>
					<h3>OSSC</h3>
					<p>The Open Source Scan Converter (OSSC) provides a zero-lag solution, but has compromises on compatibility.</p>
				</figcaption>
			</figure>

			<figure id="xrgb-mini">
				<img src="~/images/devices/xrgb-mini.jpg" alt="XRGB Mini Framemeister">
				<figcaption>
					<h3>Framemeister</h3>
					<p>The XRGB Mini Framemeister is a more feature packed device with better compatibility, but at the cost of additional lag.</p>
				</figcaption>
			</figure>

		</div>

	</div>

</section>

<section id="switches">

	<div class="container">

	</div>

</section>

<section id="guides">

	<div class="container">

	</div>

</section>

<section id="consoles">

	<div class="container">

	</div>

</section>

<section id="referrals">

	<div class="container">

		<header>

			<h2>What Our Clients Say</h2>

		</header>

		<ul>

			<li>

				<blockquote>
					<p>As the Committee Chairman of Cutters Run Subdivision in South Barrington I contracted with Avalon.
					John and his company did exceptional work. All the work was done neatly, professionally, and at
					a reasonable price. John Elias is prompt, friendly, easy to work with, and thoroughly competent. I
					recommend him and his company for any level of construction work, whether commercial or residential.</p>
					<cite>Ken D. (South Barrington, IL)</cite>
				</blockquote>

			</li>

			<li>

				<blockquote>
					<p>The entire time we have lived here, I still am amazed and awed by the quality of craftsmanship put into the house. Everyday I still see beauty in the house that previously escaped me. After we moved in, John and his team have worked tirelessly standing behind every detail that needed attention. We have never seen a home built as well and as extraordinary as my house.</p>
					<cite>Mark S. (Ridgefield of Huntley) </cite>
				</blockquote>

			</li>

		</ul>

		<p>
			<a class="button" href="/referrals">See More of What Our Clients Say</a>
		</p>

	</div>

</section>