@page
@{
    ViewBag.Title = "Switches";
    ViewBag.Description = "Switches";
}

@section Styles {
	<link rel="stylesheet" href="~/css/pages/index.css")">
}

<section id="switches">

	<div class="container">

		<div class="intro">

			<header>

				<h2>Switches</h2>

			</header>

			<p>

				Once you have more than a few consoles you will quickly realize you need a way to switch between them without swapping cables.
				There are many types of switches, but the most common needs are for a SCART switches, component switches, and HDMI switches.

			</p>

		</div>

		<ul class="cards">

			<li>

				<figure>
					<img src="~/images/devices/gscartsw-3.4.jpg" alt="SCART Switches">
					<figcaption>
						<h3>SCART Switches</h3>
						<p>The Open Source Scan Converter (OSSC) provides a zero-lag solution, but has compromises on compatibility.</p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure>
					<img src="~/images/devices/gcompsw-1.0.jpg" alt="Component Switches">
					<figcaption>
						<h3>Component Switches</h3>
						<p>The XRGB Mini Framemeister is a more feature packed device with better compatibility, but at the cost of additional lag.</p>
					</figcaption>
				</figure>

			</li>

			<li>

				<figure>
					<img src="~/images/devices/hdmi-monoprice.jpg" alt="HDMI Switches">
					<figcaption>
						<h3>HDMI Switches</h3>
						<p>The XRGB Mini Framemeister is a more feature packed device with better compatibility, but at the cost of additional lag.</p>
					</figcaption>
				</figure>

			</li>

		</ul>

		<a class="button" href="/switches">Learn more about switches</a>

	</div>

</section>
